.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    gap: 10px;
  }

.header img {
    margin: 0 auto;
    /* padding: 10px 0px 0px 110px; */
    width: 150px;
}

.header h1 {
    margin: auto 0;
    /* padding: 10px 150px 0px 0px; */
    height: 35px;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    border: 1px solid lightgray;
    background-color: white;
    display: inline-block;
    text-align: center;
    z-index: 100;
    width: 190px;
    height: 30px;
    top: 125px;
    left: 575px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.tooltipimg {
    position:absolute; 
    z-index:100;
    background-color:orange;
    padding:1px;
    margin: 5px;
    color:white; 
    width: 20px;
    top: 0px;
    left: 0px;
}

.tooltiptext {
    position:absolute; 
    z-index:100;
    background-color:white;
    color:black;
    width: 120px;
    top: 6px;
    left: 33px;
    font-weight: normal;
}

.tooltip .tooltiptext::before {
    content: " ";
    position: absolute;
    bottom: 25px;
    left: -6px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent lightgray transparent;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 24px;
    left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.item{
    background-color: #f8f8f8;
    min-height: 150px;
    max-height: 180px;
    width: 700px;
    margin: 1px;
    border: 1px solid;
    border-radius: 4px;
}

.item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.item .itemDetails{
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.item .imageContainer{
    min-width: 200px;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;}

.item .imageContainer .itemImage{
    max-height: 100px;
    /* max-width: 100px; */
    height: auto;
    width: auto;
    border: 3px solid lightgrey;
    transition: transform 1s;
}

.item .imageContainer .itemImage:hover {
    transform: scale(2);
}

.item .itemDetails .itemTitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.item .itemDetails .productLink{
    margin: 0px 0px 0px 5px;
    height: 15px;
}

.item .itemDetails .topRated{
    /* margin: auto; */
    margin: -5px 0px 0px 10px;
    max-height: 30px;
    min-height: 30px;

}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px 30px 10px 30px;
    white-space: nowrap;
}

input {
    margin-left: 5px;
    margin-right: 5px;
}

span {
    font-weight: bold;
}

select{
    text-align-last: center;
}

button {
    background-color: lightgray;
    text-decoration: none;
    border: none;
    padding: 3px 5px 5px 5px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
}

button:hover {
    background-color: #3cb741;
}

.show {
    text-align: center;
    margin: 0 auto;
    padding: 7px 10px 7px 10px;
}

.details img {
    max-height: 200px;
    max-width: 200px;
    height: auto;
    width: auto;
}

.details table {
    width: 700px;
    margin-top: 20px;
    text-align: left;
    border-collapse: collapse;
    border: 2px solid lightgrey;
}

.details table td {
    border: 2px solid lightgrey;
    padding: 5px;
    margin: 5px;
    white-space: normal;
    word-wrap: ;
  }