.container {
    max-width: 1200px;
    background-color: #272626;
    color: white;
    border-radius: 5;
}

@media (max-width: 576px) {
    .container {
      max-width: 360px;
    }
}

.searchForm {
    max-width: 500px;
}

.searchBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#Zip:disabled{
    background-color: #cfcccc;
}

.searchBtn:disabled{
    background-color: #cfcccc;
}
